@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  height: 100vh;
  width:100vw;
  background-color: rgba(67, 114, 253, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-row{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  
}

.box{
  filter: drop-shadow(2px 2px 3px  rgb(59, 59, 59));
}

.box_shadow{
  box-shadow: 2px 2px 10px rgb(28, 3, 138);
}

.text_size{
  font-size: xx-large;
}

.center__stats{
  right:0;
  left:0;
  margin-left: auto; 
  margin-right: auto; 
}